node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Build Artifacts: Exclude build artifacts or compiled code.
/build
/dist

# Dependency Lock Files: Exclude any dependency lock files.
yarn.lock
package-lock.json